<%if @user.errors.any?%>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
    <ul>
      <%=@user.errors.full_messages.each do |message|%>
        <li><%=message%></li>
      <%end%>
    </ul>
  </div>
<%end%>
<div class="main">
  <div class="card devise-card">
    <div class="form-wrap">
      <div class="form-group text-center">
        <h2 class="logo-img mx-auto"></h2>
        <h1 class="text-secondary">ユーザー</h1>
      </div>
      <%=form_with(model:@user,local:true)do |f|%>
        <div class="form-group">
          <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.text_field :name, autofocus: true, placeholder: "フルネーム", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :image %>
          <%= f.file_field :image %>
        </div>
        <div class="actions">
          <%= f.submit "登録する", class: "btn btn-primary w-100" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<style>
  .main {
  max-width: 960px;
  margin: 0 auto;
  width: 90%;
  padding: 100px 75px 100px;
  display: block;
  flex: 1;
  flex-basis: auto;
  box-sizing: border-box;
}

.devise-card {
  border: none;
}

.form-wrap{
  max-width: 400px;
  width: 100%;
  margin: 50px auto;
}

.form-control {
  border: 1px solid #dcdfe6;
  font-size: inherit;
}

.devise-link {
  text-align: center;
  margin: 16px 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 75px 0;
  }
  .devise-card {
    background-color: #fafafa;
  }
}

</style>