<% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= @post.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="main">
  <div class="card devise-card">
    <div class="form-wrap">
      <div class="form-group text-center">
        <h2 class="logo-img mx-auto"></h2>
        <h1 class="text-secondary">新規投稿</h1>
      </div>
      <%=form_with(model:@post,local:true)do |f|%>
        <div class="form-group">
          <%= f.text_field :content, autofocus: true, placeholder: "コンテンツ", class: "form-control" %>
        </div>

        <div class="form-group">
          写真：<%= f.file_field :picture %>
        </div>
        <div class="actions">
          <%= f.submit "登録する", class: "btn btn-primary w-100" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<style>
  .main {
  max-width: 960px;
  margin: 0 auto;
  width: 90%;
  padding: 100px 75px 100px;
  display: block;
  flex: 1;
  flex-basis: auto;
  box-sizing: border-box;
}

.devise-card {
  border: none;
}

.form-wrap{
  max-width: 400px;
  width: 100%;
  margin: 50px auto;
}

.form-control {
  border: 1px solid #dcdfe6;
  font-size: inherit;
}

.devise-link {
  text-align: center;
  margin: 16px 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 75px 0;
  }
  .devise-card {
    background-color: #fafafa;
  }
}

</style>